*{
	padding: 0;
	margin: 0;
}

.blueButton {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.blueButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.blueButton:active {
	position:relative;
	top:1px;
}
.title{
	position: relative;
	text-align: left;
	float: left;
	width: 50%;
}

.turn{
	text-align: right;
	float: left;
	width: 50%;
}

.header{
	padding-left: 30px;
	margin-top: 25px;
}

.body {
	width: 1500px;
	height: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
	width: 250px;
	height: 600px;
	border: 3px solid #333 ;
}

tr{
	border: 0px;
	background-color: #528ecc;
}

.player_1, .player_2{
	margin: 30px 0 5px 0;
	text-align: center;
	width: 250px;
	height: 60px;
	border: 2px solid #333;
	border-radius: 10px;
}

.table_in_D {
	margin:10px;
	display: inline-block;
	vertical-align: middle; 
}
td{
	width: 700px;
	vertical-align: middle; 
}
.table_in_D img{
	width: 30px;
	height: 30px;
}

.score_board1, .play_board, .score_board2 {
    margin: 0 10px 0 10px;
}

.score_board1_1, .score_board2_1 {
	display: none; 
}


.play_board {
    padding: 50px;
    text-align: center;
}

.play_board img {
    width: 650px;
    height: 650px;
}

.dice{
	width: 55px;
	height: 55px; 
	display: none;
	
}

.dice1:active{
	display: block;
	width: -10px;
	height:10px;
	top:130px;
	left: 500px ;
}

.dice1{
	position: absolute;
    left: 530px;
}

.dice2{
	position: absolute;
    left: 680px;
}
.dice3{
	position: absolute;
    left: 830px;
}

.dice4{
	position: absolute;
	top: 300px;
    left: 600px;
}

.dice5{
	position: absolute;
	top: 300px;
    left: 750px;
}



@-webkit-keyframes roll-in-blurred-left {
	0% {
	  -webkit-transform: translateX(-1000px) rotate(-720deg) scale(1);
	  transform: translateX(-1000px) rotate(-720deg) scale(1);
	  -webkit-filter: blur(50px);
	  filter: blur(50px);
	  opacity: 0;
	  visibility: hidden;
	}
	50% {
	  -webkit-transform: translateX(0) rotate(0deg) scale(0.5);
	  transform: translateX(0) rotate(0deg) scale(0.5);
	  -webkit-filter: blur(0);
	  filter: blur(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateX(0) rotate(0deg) scale(1);
	  transform: translateX(0) rotate(0deg) scale(1);
	  -webkit-filter: blur(0);
	  filter: blur(0);
	  opacity: 1;
	}
  }
  
  @keyframes roll-in-blurred-left {
	0% {
		
	  -webkit-transform: translateX(-1000px) rotate(-720deg) scale(1);
	
	  transform: translateX(-1000px) rotate(-720deg) scale(1);
	  -webkit-filter: blur(50px);
	  filter: blur(50px);
	  opacity: 0;
	  visibility: hidden;
	}
	50% {
	  -webkit-transform: translateX(0) rotate(0deg) scale(0.5);
	  transform: translateX(0) rotate(0deg) scale(0.5);
	  -webkit-filter: blur(0);
	  filter: blur(0);
	  opacity: 0.5;
	}
	100% {
	  -webkit-transform: translateX(0) rotate(0deg) scale(1);
	  transform: translateX(0) rotate(0deg) scale(1);
	  -webkit-filter: blur(0);
	  filter: blur(0);
	  opacity: 1;
	}
  }
  
  

  .roll-animation {
	-webkit-animation: roll-in-blurred-left 1.5s ease-in-out;
    animation: roll-in-blurred-left 1.5s ease-in-out;
  }
