*{
	padding: 0;
	margin: 0;
}

.blueButton {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.blueButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.blueButton:active {
	position:relative;
	top:1px;
}
.title{
	text-align: left;
	float: left;
	width: 50%;
}
.turn{
	text-align: right;
	float: left;
	width: 50%;
}
.header{
	padding-left: 30px;
	margin-top: 50px;
}
