<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="title"><h1>BSM Yacht</h1></div>
        <div class="turn"><h3 style="text-align: right;">turn 1/12</h3></div>
    </div>
    <div>
    <input type="button" class="blueButton" value="다이스 롤">
    <input type="button" value="결과 제출">
    </div>
</body>
</html>